<launch>
  <node pkg="sound_play" type="soundplay_node.py" name="sound_play" output="screen" />

  <node pkg="tiago_primitives" type="patient_interaction_main.py" name="patient_main" output="screen">
    <param name="rgb_topic" value="/xtion/rgb/image_color" />
    <param name="depth_topic" value="/xtion/depth_registered/image_raw" />

    <param name="debug_view_detection" value="true" />
    <param name="scan_wz" value="0.30" />
    <param name="scan_step_s" value="0.35" />
    <param name="approach_fraction" value="0.75" />
    <param name="approach_linear_speed" value="0.35" />

    <!-- detector tuning -->
    <param name="yolo_conf_thres" value="0.35" />
  </node>
</launch>

